body {
    margin: 0;
    padding: 0;
}

.header {
    background-color: lightgray;
}

.head {
    width: 1050px;
    margin: auto;
    padding: 5px 0;
}

.user {
    text-decoration: none;
    color: tomato;
}

.user ul li {
    list-style: none;
    float: right;
    text-align: right;
    margin-left: 15px;
}

.container-left {
    margin-bottom: 10px;
}

.logo {
    bottom: 0px;
    float: left;
}

.logo img {
    display: block;
    width: 230px;
    height: 70px;
}

.menu {
    float: left;
    margin: auto;
}

.header-link {
    color: #24292e;
}

a {
    text-decoration: none;
}

.menu a:hover {
    color: rgb(0, 0, 0);
    text-decoration: none;
    background-color: #fff;
}

.menu ul li {
    list-style: none;
    float: left;
    text-align: center;
    line-height: 30px;
    vertical-align: middle;
    margin-right: 30px;
}

.menu-item {
    text-decoration: none;
    color: rgb(30, 30, 30);
    display: block;
    font-size: 17px;
    font-weight: bold;
}

.codeTest {
    background-color: white;
    margin: auto;
}

.leftImg {
    display: block;
}

.tbl-ex {
    margin: auto;
    padding: 5px;
}

td {
    padding: 5px 5px;
}

select {
    width: 155px;
    height: 35px;
    padding: .3em .3em;
    font-family: inherit;
    font-size: 8px;
    background: no-repeat 95% 50%;
    background-color: #fff;
    border: 1px solid #999;
    border-radius: 0px;
    margin: auto;
    margin-right: 150px;
    display: block;
}

#head {
    padding: 20px 0;
    text-align: center;
}

#code {
    width: 600px;
    height: 300px;
    background-color: #fff;
    color: #000;
    font-family: Consolas, sans-serif;
    line-height: 2em;
    font-stretch: ultra-expanded;
    padding: 3px 10px;
    resize: none;
}

#result {
    width: 600px;
    height: 150px;
    background-color: #fff;
    color: #000;
    font-family: Consolas, sans-serif;
    line-height: 2em;
    font-stretch: ultra-expanded;
    padding: 3px 10px;
    margin-bottom: 10px;
    resize: none;
}

.bottom {
    margin: auto;
    display: block;
}

.btn-save {
    margin-left: 290px;
    color: #fff;
    border-color: #2861ff;
    border-radius: 5px;
    background-color: #2861ff;
}

.btn-save:hover {
    color: #fff;
    background-color: #2352d3;
}

.btn-compile {
    margin-left: 5px;
    color: #fff;
    border-color: #3f941d;
    border-radius: 5px;
    background-color: #3f941d;
    height: 30px;
}

.btn-compile:hover {
    color: #fff;
    background-color: #357c18;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}